*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
}
body{
    background: #ede5e5;
}
.buttonContainer{
    margin: 20px 0;
    margin-left: 30px;
}
.buttonContainer button{
    background: #333;
    border-radius: 5px;
    padding:10px 25px;
    outline: 0;
    border: 0;
    color: #fff;
    margin-left: 12px;
    font-weight: 600;
    cursor: pointer;
}
#toastBox{
        position: absolute;
        bottom: 30px;
        right: 30px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        overflow: hidden;
        padding: 20px;
}
.toast{
    width:300px;
    height: 50px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
}
.toast i{
    margin: 0 20px;
    font-size: 35px;
    
}
.fa-circle-exclamation{
    color: rgb(139, 139, 62);
}
.fa-circle-xmark{
    color: red;
}
.fa-circle-check{
  color: green;
}